/* importamos la fuente */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
/* configuracion global */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}
/* configuuracion del html */
html{
    scroll-behavior: smooth;
}
/* cuerpo */
body{
    background-color: #0B192C;
    color: #fff;


}
/* header */
header{
    background-color: #1E3E62;
    padding: 20px;
    /* mantiene el header en la perte de arriba */
    position: fixed;
    z-index: 1000; 
    top: 0; /* Posiciona en la parte superior */
    left: 0;
    right: 0;
}
/* tamaño de letra del titulo */
header .contenido h1{
    font-size: 30px;
}
header .contenido h1 span{
    color: #FF6500;
}
header .contenido{
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .contenido nav a{
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
}
header .contenido nav a:hover{
    color: #FF6500;
}
/* secciòn inicio */
section{
    max-width: 900px;
    margin: auto;
    height: 90vh;
    position: relative;
    padding: 0 30px;
}
#inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#inicio hr{
    width: 50px;
    border: 2px solid #FF6500;
    margin-bottom: 10px;
}
#inicio h2{
    font-weight: normal;
    letter-spacing: 4px;
    font-size: 40px;
}
#inicio p{
    /* width: 650px; */
    font-size: 20px;
    line-height: 24px;
    color: #dbd3d3d7;
    margin-bottom: 20px;
}
.btn{
    background-color: #FF6500;
    color:#fff ;
    border: none;
    padding: 15px 30px;
    width: fit-content;
    text-align: center;
    cursor: pointer;
}
/* sección habilidades */
#habilidades{
    margin-top: 100px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titulo{
    color: #FF6500;
    font-size: 40px;
    margin-bottom: 10px;
}
#habilidades hr{
    width: 50px;
    border: 2px solid #FF6500;
    margin-bottom: 10px;
}
#habilidades .fila{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
#habilidades .fila .col{
    width: 30%;
    background-color: #1E3E62;
    padding: 25px;
}
#habilidades .fila .col i{
    color: #FF6500;
    font-size: 20px;
    margin-bottom: 10px;
}
#habilidades .fila .col h3{
    font-size: 15px;
    margin-bottom: 10px;
}
#habilidades .fila .col p{
    font-size: 12px;
    line-height: 20px;
    color: #dbd3d3d7;
}
/* sección contacto */
#contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#contacto hr{
    width: 50px;
    border: 2px solid #FF6500;
    margin-bottom: 10px;
}
#contacto form{
    max-width: 500px;
}
#contacto form .entrada{
    width: 100%;
    border: none;
    background-color: #1E3E62;
    padding: 25px;
    margin-bottom: 20px;
    outline: none;
    font-size: 18px;
    color: #fff;
}
footer{
    background-color: #1E3E62   ;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

footer p{
    color: #fff;
}
/* indicador */
.indicador{
    position: absolute;
    right: 0;
    padding-right: 0;
   
}
.indicador .selector{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #474853;
}
.indicador .linea{
    width: 1px;
    margin: auto;
    background-color: #474853;
    height: 30px;
}
.pintado{
    background-color: #FF6500   ;
}
.responsive{
    display: none;
}

/* seccion responsive */
@media screen and (max-width:600px){
    section{
        height: auto;
    }
    .responsive{
        display: block;
    }
    .no-responsive{
        display: none;
    
    }
    #inicio{
        margin-top: 50px;
    }
   
    #habilidades{
        margin-top: 50px;
    }
    #habilidades .fila{
        display: block;
    }
    #habilidades .fila .col{
        width: 80%;
        margin: auto;
        margin-bottom: 10px;
    }
}