.container {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center; /* Centra el texto */
}

.imagen-redonda {
    width: 200px; /* Tamaño de la imagen */
    height: 200px; /* Mantiene la proporción */
    border-radius: 50%; /* Hace que la imagen sea redonda */
    object-fit: cover; /* Ajusta la imagen */
    border: 5px solid #FF6500; /* Borde alrededor de la imagen */
}

h1 {
    margin: 10px 0; /* Margen para el título */
}

p {
    color: #555; /* Color del texto */
    margin: 5px 0; /* Margen para los párrafos */
}