.rain__drop {
    -webkit-animation-delay: calc(var(--d) * 1s);
            animation-delay: calc(var(--d) * 1s);
    -webkit-animation-duration: calc(var(--a) * 1s);
    /* este valor controla la velocidad de caida de gotas */
    /* entre mas alto el valor es mas lenta la caida */
            animation-duration: calc(var(--a) * 10s); 
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: drop;
            animation-name: drop;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    height: 30px;
    left: calc(var(--x) * 1%);
    position: fixed;
    top: calc((var(--y) ) * -1px);
  }
  .rain__drop path {
    /* colo de las gotas */
    fill: #fefefe67;
    opacity: var(--o);
    -webkit-transform: scaleY(calc(var(--s) * 1.5));
            transform: scaleY(calc(var(--s) * 1.5));
  }
  @-webkit-keyframes drop {
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(100vh);
              transform: translateY(100vh);
    }
  }
  @keyframes drop {
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(100vh);
              transform: translateY(100vh);
    }
  }